Student Performance Indicator

In [6]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
import warnings
warnings.filterwarning('ignore')

AttributeError: module 'warnings' has no attribute 'filterwarning'

Import the CSV Data as Pandas  DataFrame

In [7]:
df=pd.read_csv('data/raw.csv')

Show Top 5 record

In [8]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Shape of  the dataset

In [9]:
df.shape

(1002, 8)

2.2 Dataset Information 

o gender : sex of student -->(male/female)
o race/ethnicity : ethnicity of student -->(Group A,B,C,D,E)
o parent level of eduction: parent's final eduction ->(bachlore's degree ,some collage , master's degree, associate's degree,high school)
o luch: having lunch before  test(standers or free/reduced)
o test_preparation_course : complete  or not completed  before test 
o math_score 
o reading_score
o writing_score

3 Data Check to perform

o Check missing value 
o check duplicate
o check data type 
o check the number if unique  values of each column 
o check statistics of data set 
o check various categories  present  in the different categories column 


3.1 Check Missing value

In [9]:
#Check Missing value 
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

There is no missing value in data set

3.2 Check Duplicate

In [29]:
df.duplicated().sum()

0

In [27]:
# Find the which record is duplicate
duplicates = df[df.duplicated()]
print(duplicates)

     gender race_ethnicity parental_level_of_education     lunch  \
120  female        group C                some college  standard

    test_preparation_course  math_score  reading_score  writing_score
120                    none          55             69             65

In [28]:
#delete the duplicate record from data set
df.drop_duplicates(inplace=True)

In [10]:
# check NUll and Dtype      
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [11]:
#check the number  of unique value  of each column 

df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [12]:
#check statistica of data set 
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [13]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [14]:
print(df['gender'].unique())

['female' 'male']

In [16]:
numeric_features = [feature for feature in df.columns if df [feature].dtype != '0']
categorical_features = [feature for feature in df.columns if df [feature].dtype == '0']

print("We have {} numerical feature :{}".format(len(numeric_features),numeric_features))
print('\nWe have {} categoriacal features: {}'.format(len(categorical_features),categorical_features))

We have 8 numerical feature :['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course', 'math_score', 'reading_score', 'writing_score']

We have 0 categoriacal features: []